<div class="jumbotron">
  <div class="row">
    <div class="col-sm-1">
      <button {{action 'upVote'}}>Up Vote</button>
    </div>
    <div class="col-sm-1 content-left">
      <h3>{{heading}}</h3>
    </div>
    <div class="col-sm-10">
      <h3>{{answer.content}}</h3>
      <button {{action 'delete' answer}}>Delete</button>
    </div>
  </div>
</div>
