
  <div class="jumbotron row">
      {{#link-to 'question' question.id}}
    <div class="col-sm-4 content-left">
      <h4>By: {{question.name}}</h4>
    </div>
    <div class="col-sm-8">
      <h1>{{question.title}}</h1>
      <h4>{{question.content}}</h4>
    </div>
    {{/link-to}}
  </div>
