<div class="container">
  <header class = "jumbotron">
    <h1>Welcome to Q and A</h1>
    <h4>A blog community helping each other with questions.</h4>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'admin'}}Admin{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
