<div class="">
  <div class="">
    {{new-question saveQuestion2="saveQuestion3"}}
  </div>
  <div class="">
    {{#each model.questions as |question|}}
      {{answer-popularity question}}{{question-tile question=question}}
    {{/each}}
  </div>
</div>
